body{font-family:Arial;} .container{width:90%;max-width:1000px;margin:auto;}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:30px;}
.item img{width:100%;} .ceramic-detail img{width:100%;max-width:600px;margin:20px auto;display:block;}
.header-center {
  text-align: center;
}

.logo {
  max-width: 200px;   /* adjust size as needed */
  width: 100%;
  height: auto;
  display: inline-block;
}

